<div *ngIf="cocktail">
	<div class="row">
		<div class="col-4">
			<img [alt]="cocktail.description" [src]="cocktail.image" class="img-fluid" style="max-height: 150px;">
		</div>
		<h3 class="col-8">{{cocktail.name}}</h3>
	</div>
	<hr>
	<div class="row">
		<p class="col-12">{{cocktail.description}}</p>
	</div>
	<div class="row">
		<ul class="list-group col-12">
			<li *ngFor="let ingredient of cocktail.ingredients"
				class="list-group-item list-group-item-action">
				{{ingredient.name}}
				<span class="badge badge-secondary badge-pill ml-auto float-right">
				{{ingredient.quantity}}
			</span>
			</li>
		</ul>
	</div>
	<hr>
	<div class="row">
		<button [routerLink]="getUrl()" class="btn btn-sm btn-success" type="button">
			Update cocktail
		</button>
	</div>
</div>
